# Ignore everything
*

# But not these files...
!.gitignore
!index.html
!semantic/dist/semantic.min.css
!semantic/dist/semantic.min.js
!semantic/dist/themes/basic/assets/fonts/icons.eot
!semantic/dist/themes/basic/assets/fonts/icons.svg
!semantic/dist/themes/basic/assets/fonts/icons.ttf
!semantic/dist/themes/basic/assets/fonts/icons.woff
!semantic/dist/themes/default/assets/fonts/icons.eot
!semantic/dist/themes/default/assets/fonts/icons.svg
!semantic/dist/themes/default/assets/fonts/icons.ttf
!semantic/dist/themes/default/assets/fonts/icons.woff