#header {
    margin: 15px 0 15px 0;
}

.item {
    margin-bottom: 15px;
}

.accordion,
.accordion * {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.accordion a.accordion-section-title {
    color: black;
    text-decoration: none;
}

.accordion-section:last-child .accordion-section-title {
    border-bottom: none;
}

.accordion-section-content {
    padding: 15px;
    display: none;
}

a a:hover,
a:active,
a:focus {
    outline: 0;
}


/**
*
* https://codepen.io/jczimm/pen/vEBpoL
*
**/

.showbox {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 5%;
}

.loader {
    position: relative;
    margin: 0 auto;
    width: 100px;
}

.loader:before {
    content: '';
    display: block;
    padding-top: 100%;
}

.circular {
    -webkit-animation: rotate 2s linear infinite;
    animation: rotate 2s linear infinite;
    height: 100%;
    -webkit-transform-origin: center center;
    transform-origin: center center;
    width: 100%;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}

.path {
    stroke-dasharray: 1, 200;
    stroke-dashoffset: 0;
    -webkit-animation: dash 1.5s ease-in-out infinite, color 6s ease-in-out infinite;
    animation: dash 1.5s ease-in-out infinite, color 6s ease-in-out infinite;
    stroke-linecap: round;
}

@-webkit-keyframes rotate {
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@keyframes rotate {
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@-webkit-keyframes dash {
    0% {
        stroke-dasharray: 1, 200;
        stroke-dashoffset: 0;
    }
    50% {
        stroke-dasharray: 89, 200;
        stroke-dashoffset: -35px;
    }
    100% {
        stroke-dasharray: 89, 200;
        stroke-dashoffset: -124px;
    }
}

@keyframes dash {
    0% {
        stroke-dasharray: 1, 200;
        stroke-dashoffset: 0;
    }
    50% {
        stroke-dasharray: 89, 200;
        stroke-dashoffset: -35px;
    }
    100% {
        stroke-dasharray: 89, 200;
        stroke-dashoffset: -124px;
    }
}

@-webkit-keyframes color {
    100%,
    0% {
        stroke: #d62d20;
    }
    40% {
        stroke: #0057e7;
    }
    66% {
        stroke: #008744;
    }
    80%,
    90% {
        stroke: #ffa700;
    }
}

@keyframes color {
    100%,
    0% {
        stroke: #d62d20;
    }
    40% {
        stroke: #0057e7;
    }
    66% {
        stroke: #008744;
    }
    80%,
    90% {
        stroke: #ffa700;
    }
}


/**
*
* From bootstrap-material-design 
* https://github.com/FezVrasta/bootstrap-material-design
* 
**/

.card {
    font-size: .875rem;
    font-weight: 400;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, .14), 0 3px 1px -2px rgba(0, 0, 0, .2), 0 1px 5px 0 rgba(0, 0, 0, .12)
}

.card-block {
    padding: 1.25rem
}

.card-block:after {
    content: "";
    display: table;
    clear: both
}

.card-title {
    margin-bottom: .75rem
}

.card-subtitle {
    margin-top: -.375rem
}

.card-subtitle,
.card-text:last-child {
    margin-bottom: 0
}

.card-link:hover {
    text-decoration: none
}

.card-link+.card-link {
    margin-left: 1.25rem
}

.card-header {
    padding: .75rem 1.25rem;
    background-color: #fff;
    border-bottom: 1px solid rgba(0, 0, 0, .12)
}

.card-header:after {
    content: "";
    display: table;
    clear: both
}

.card-header:first-child {
    border-radius: .125rem .125rem 0 0
}

.card-footer {
    padding: .75rem 1.25rem;
    background-color: #fff;
    border-top: 1px solid rgba(0, 0, 0, .12)
}

.card-footer:after {
    content: "";
    display: table;
    clear: both
}

.card-footer:last-child {
    border-radius: 0 0 .125rem .125rem
}

.card-header-tabs {
    margin-bottom: -.75rem;
    border-bottom: 0
}

.card-header-pills,
.card-header-tabs {
    margin-right: -.625rem;
    margin-left: -.625rem
}

.card-inverse .card-footer,
.card-inverse .card-header {
    border-color: hsla(0, 0%, 100%, .2)
}

.card-inverse .card-blockquote,
.card-inverse .card-footer,
.card-inverse .card-header,
.card-inverse .card-title {
    color: #fff
}

.card-inverse .card-blockquote .blockquote-footer,
.card-inverse .card-link,
.card-inverse .card-subtitle,
.card-inverse .card-text {
    color: hsla(0, 0%, 100%, .65)
}

.card-inverse .card-link:focus,
.card-inverse .card-link:hover {
    color: #fff
}

.card-blockquote {
    padding: 0;
    margin-bottom: 0;
    border-left: 0
}

.card-img {
    border-radius: .25rem
}

.card-img-overlay {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 1.25rem
}

.card-img-top {
    border-top-right-radius: .125rem;
    border-top-left-radius: .125rem
}

.card-img-bottom {
    border-bottom-right-radius: .125rem;
    border-bottom-left-radius: .125rem
}

.card .card-header {
    padding: 1rem
}

.card .card-block {
    padding: 1.5rem 1rem 1rem
}

.card h1.card-title,
.card h2.card-title,
.card h3.card-title,
.card h4.card-title,
.card h5.card-title,
.card h6.card-title {
    font-size: 1.5rem;
    font-weight: 300
}

.card .bmd-card-actions,
.card .card-footer {
    padding: .5rem
}

.card.bmd-card-raised {
    box-shadow: 0 8px 10px 1px rgba(0, 0, 0, .14), 0 3px 14px 2px rgba(0, 0, 0, .12), 0 5px 5px -3px rgba(0, 0, 0, .2)
}

@media (min-width:992px) {
    .card.bmd-card-flat {
        box-shadow: none
    }
}
