<br/>
<div class="container" fxLayout fxLayout.xs="column" fxLayoutAlign="center" fxLayoutGap="10px" fxLayoutGap.xs="0">
  <div fxFlex="15%"></div>
  <div fxFlex="15%" fxFlexOrder="3"></div>
  <div fxFlex>
    <md-card *ngIf="release">
      <md-card-header fxLayout fxLayout="row" fxLayoutAlign="center">
        <div fxFlex>
          <md-card-title>
            <h3>{{!release.name ? release.tag_name : release.name}}</h3>
          </md-card-title>
          <md-card-subtitle>
            {{!release.prerelease ? "Release" : "Pre-release"}} - {{release.published_at | date}}
          </md-card-subtitle>
        </div>
        <button md-button fxFlex="5%" fxFlexOrder="2" (click)="openShareDialog()">
          <md-icon>share</md-icon>
        </button>
      </md-card-header>
      <md-card-actions>
        <md-card-content style="margin-left: 15px; margin-right: 10px;">
          <markdown [data]='!release.body ? "No changelog was provided" : release.body'></markdown>
        </md-card-content>
        <md-nav-list>
          <a md-list-item *ngFor="let asset of release.assets" href="{{asset.browser_download_url}}"
             mdTooltip="Downloaded {{asset.download_count}} times" mdTooltipPosition="above"
             (click)="openDownloadStartSoon();">
            <md-icon>file_download</md-icon>
            {{ asset.name }}
          </a>
        </md-nav-list>
      </md-card-actions>
    </md-card>
  </div>
</div>
