<div class="container" fxLayout fxLayout.xs="column" fxLayoutAlign="center center" fxLayoutGap="10px"
     fxLayoutGap.xs="0">
  <div fxFlex="20%"></div>
  <div fxFlex="20%" fxFlexOrder="3"></div>
  <div fxFlex>
    <md-input-container style="width:100%;font-size: 20px;">
      <span md-prefix><md-icon>search</md-icon>&nbsp;</span>
      <input mdInput #searchBox id="search-box" (keyup)="filterItem(searchBox.value)" placeholder="Search"/>
    </md-input-container>
  </div>
</div>

<div class="container" fxLayout fxLayout.xs="column" fxLayoutAlign="center" fxLayoutGap="10px" fxLayoutGap.xs="0">
  <div fxFlex="20%"></div>
  <div fxFlex="20%" fxFlexOrder="3"></div>
  <div fxFlex>
    <md-card *ngIf="releases">
      <md-card-header>
        <md-card-title>
          <h3>Search</h3>
        </md-card-title>
      </md-card-header>
      <md-card-content>
        <md-nav-list>
          <md-list-item *ngFor="let release of releases" (click)="gotoDetail(release)">
            <md-icon md-list-icon>insert_drive_file</md-icon>
            <h4 md-line>{{release?.name}}</h4>
            <p md-line> {{release?.published_at | date}} </p>
          </md-list-item>
        </md-nav-list>
      </md-card-content>
    </md-card>
  </div>
</div>
