<br/>
<div class="container" fxLayout fxLayout.xs="column" fxLayoutAlign="center" fxLayoutGap="10px" fxLayoutGap.xs="0">
  <div class="item item-1" fxFlex="20%"></div>
  <div class="item item-2" fxFlex="20%" fxFlexOrder="3">
  </div>
  <div class="item item-3" fxFlex>
    <md-card>
      <md-card-header>
        <md-card-title>
          <h3>All Release</h3>
        </md-card-title>
      </md-card-header>
      <md-card-content>
        <pagination-template #p="paginationApi" [id]="paginationConfig.id"
                             (pageChange)="paginationConfig.currentPage = $event" fxLayout fxLayout.xs="column"
                             fxLayoutAlign="center center" class="md-button-group">

          <button md-button [disabled]="p.isFirstPage()" (click)="p.setCurrent(1)">
            <md-icon>first_page</md-icon>
            First Page
          </button>
          <button md-button [disabled]="p.isFirstPage()" (click)="p.previous()">
            <md-icon>keyboard_arrow_left</md-icon>
            Previous
          </button>

          <div *ngFor="let page of p.pages" [class.current]="p.getCurrent() === page?.value">
            <button md-button style="width:10px;" (click)="p.setCurrent(page?.value)"
                    *ngIf="p.getCurrent() !== page?.value">
              {{ page?.label }}
            </button>
            <button md-button style="width:10px;background-color: #3F51B5;color: #FFFFFF;"
                    *ngIf="p.getCurrent() === page?.value">
              {{ page?.label}}
            </button>
          </div>

          <button md-button [disabled]="p.isLastPage()" (click)="p.next()">
            Next
            <md-icon>keyboard_arrow_right</md-icon>
          </button>
          <button md-button [disabled]="p.isLastPage()" (click)="p.setCurrent(p.getLastPage())">
            Last Page
            <md-icon>last_page</md-icon>
          </button>
        </pagination-template>

        <md-nav-list>
          <md-list-item *ngFor="let release of releases | paginate: paginationConfig" (click)="gotoDetail(release)">
            <md-icon md-list-icon>insert_drive_file</md-icon>
            <h4 md-line>{{release?.name}}</h4>
            <p md-line>{{release?.published_at | date}} </p>
          </md-list-item>
        </md-nav-list>
      </md-card-content>
    </md-card>
  </div>
</div>
