<div layout="row" layout-sm="column" layout-padding>
    <div flex>
        <div layout="column">
            <md-card>
                <md-card-content>
                    <v-accordion class="vAccordion--default">
                        <div ng-repeat="jsonData in json.faqData">
                            <h3>{{jsonData.Category}}</h3>
                            <div ng-repeat="message in jsonData.Messages">
                                <v-pane>
                                    <v-pane-header>
                                        {{message.question}}
                                    </v-pane-header>
                                    <v-pane-content>
                                        <md-card>
                                            <md-card-content>
                                                <div ng-repeat="answer in message.answers" markdown-it="answer"></div>
                                            </md-card-content>
                                        </md-card>
                                    </v-pane-content>
                                </v-pane>
                            </div>
                        </div>
                    </v-accordion>
                </md-card-content>
            </md-card>
        </div>
    </div>
</div>
